@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color1: #ff4a2a;
    --color2: #FF416C;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, var(--color1), var(--color2));
}
a{
    text-decoration: none;
    color: black;
}
main{
    width: 80%;
    max-width: 100%;
    min-width: 1100px;
    margin: 60px 0 auto 0;
    background-color: white;
    box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.5);

}
@media screen and (max-width: 1100px){
    main{
        width: 100%;
        min-width: 100%;
    }
}
main a{
    color: grey;
}
section{
    padding: 5px 10px;
    margin: 0px 0px 20px 0;
    background-color: rgba(128, 128, 128, 0.1);
}
section div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
}
.glisse{
    display: inline-block;
    transition: 0.2s ease-in-out transform;

}
.glisse:hover{
    transform: translate(5px);
}
.card{
    width: 80%;
    max-width: 190px;
    min-width: 160px;
    height: 50vw;
    max-height: 350px;
    min-height: 160px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: white;
    overflow: hidden;
}
.card img{
    width: 200px;
    height: 300px;
}
.plus{
    background-color: rgb(161, 161, 161);
    display: block;
    overflow: visible;
}
.plus div{
    height: 60%;
    display: flex;
    align-items: center;
}
.plus div div{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: solid grey 10px;
    border-radius: 50%;
    overflow: hidden;
}
.plus table{
    border-collapse: collapse;
    width: 150px;
    position: relative;
    top: -28px;
}
.plus div table tr th{
    width: 60px;
    height: 60px;
    border: solid rgb(161, 161, 161) 15px;
}