@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	overflow: hidden;
}

main{
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #fff;
}
main .column{
	height: 100%;
	z-index: 5;
}

main .left{
	width: 55%;
}
main .left .wave{
	width: 55%;
	height: 125%;
	position: absolute;
	z-index: 10;
	background: var(--color1);
	border-bottom-right-radius: 100%;
}
main .left img#logoTopQuizz{
	position: absolute;
	top: 2%;
	left: 3%;
	z-index: 15;
}
main .left .img{
	width: 83%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main .left .img img{
	z-index: 15;
}
main .left .img p{
	margin-top: 20px;
	color: #fff;
	z-index: 15;
}
main .left .img p a{
	text-decoration: none;
	color: #fff;
}

main .right{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main .right .right-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(238, 238, 238, 0.4);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}
main .right img#imgProfil{
	margin-bottom: 10px;
}
main .right h1{
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
main .right form{
	display: flex;
	flex-direction: column;
}
main .right form input{
	margin: 10px 0;
	outline: none;
	height: 45px;
	padding: 10px;
	background-color: #eee;
	border: none;
}
main .right form input:focus{
	border: 1px solid #111;
}
main .right form select{
	margin: 10px 0;
	outline: none;
	height: 40px;
	background-color: #eee;
	border: none;
}
main .right form a{
	display: flex;
	justify-content: flex-end;
	color: #444;
}
main .right form button{
	width: 50%;
	height: 40px;
	margin: 10px auto;
	border: none;
	background: #eee;
	letter-spacing: 0.5px;
	font-weight: 500;
	outline: none;
}

.alert{
	position: absolute;
	right: 8.5%;
	top: 2%;
	z-index: 999;
	min-width: 445px;
	max-width: 445px;
}

:root{
    --color1: #FF4B2B;
    --color2: #FF416C;
}

/*
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: #eee;
}

main{
	display: flex;
	width: 80%;
	height: 75vh;
	border-radius: 20px;
	box-shadow: -10px 10px 10px 0px #777;
}

main .column{
	width: 50%;
	height: 100%;
}

main .left{
	background: #fff;
	border-radius: 20px 0 0 20px;
}

main .left .left-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0px 50px;
}

main .left .left-content h1{
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

main .left .left-content p{
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 0px;
	color: #555;
}

main .left .left-content .form-inscription{
	width: 100%;
	height: auto;
}

main .left .left-content .form-inscription form{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

main .left .left-content .form-inscription form input{
	width: 60%;
	height: 45px;
	margin: 10px auto;
	padding: 10px;
	font-size: 16px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #eee;
}
main .left .left-content .form-inscription form input[id="identifiant"]{
	margin-top: 0;
}

main .left .left-content .form-inscription form select{
	width: 60%;
	height: 35px;
	margin: 10px auto;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #eee;
}

main .left .left-content .form-inscription form button{
	background: var(--color1);
	color: #fff;
	font-size: 17px;
	height: 40px;
	width: 30%;
	margin: 20px auto;
	border: none;
	border-radius: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
}



main .right{
	background: linear-gradient(to right, var(--color1), var(--color2));
	border-radius: 0 20px 20px 0;
}

main .right .right-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 150px 60px;
}

main .right .right-content h1{
	color: #fff;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

main .right .right-content p{
	color: #fff;
	text-align: center;
	margin: 30px 0;
}

main .right .right-content a{
	text-align: center;
	text-decoration: none;
	background: none;
	color: #fff;
	font-size: 17px;
	padding: 7px;
	width: 30%;
	margin: 10px auto;
	border: 1px solid #fff;
	border-radius: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
}


.alert{
	position: absolute;
	top: 3%;
	transform: translate(-50% -50%);
	text-align: center;
} */